


body{
text-align: left;
  /* background-color:#FFEFEF ; */
  margin: 0;

font-family: 'Merriweather', serif;
line-height: 2;
background-image: url('images/dino.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
  background-size: cover;
}

div{
  margin-top: 0;

}

.main{
  width: 100%;
  height: 100%;
}

.c{
  text-decoration: underline;
}



.content{
  margin: auto;
}

h3{
text-align: center;
font-size: 2rem;
  color: #EBD8C3;

}

p{
  color: #E9D5DA;
  /* color: #EBD8C3; */
  font-style: bold;
  margin-left: 260px;
  font-size: 1.2rem;
}
